body {
    background-image: url(background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
    color: wheat;
}

a {
    color: wheat;
}
.base_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(84, 39, 39, 0.6);
    padding: 10pt 0 10pt 0;
}

.base_container > DIV {
    margin: 10pt;
    padding: 10pt;
    overflow:hidden;
    background-color: rgba(84, 39, 39, 0.6);
    box-shadow: 3px 3px 12pt -3pt #111;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

DIV.header {
    padding: 8pt;

}

.header > DIV {
    border-left: solid 1pt wheat;
    flex-grow: 0;
    padding-left: 8pt;
    padding-right: 8pt;
    font-size: 14pt;
}

.header > DIV:first-child {
    border-left: 0;
}

.header > DIV:last-child {
    text-align: right;
    border-left: 0;
    flex-grow:1;
}

DIV.date_picker {
    padding-top: 12pt;
    padding-bottom: 4pt;
    vertical-align: center;
    font-size: 18pt;
}

.date_picker .prev_next_arrow {
    width: 1.4em;
    padding-left: 24pt;
    padding-right: 24pt;
    height: auto;
}

.date_picker .prev_next_arrow_disabled {
    width: 1.4em;
    padding-left: 24pt;
    padding-right: 24pt;
    height: auto;
    vertical-align: middle;
    opacity: 40%;
}


DIV.leaderboard {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

DIV.leaderboard > DIV {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 80pt;
    padding: 3pt 10pt 3pt 10pt;
}

DIV.leaderboard > DIV.clear {
    flex-basis: 100%;
    height: 0;
}

DIV.leaderboard .online {
    overflow: hidden;
    background: rgba(181, 181, 181, 0.13) !important;
    border: solid 5px rgba(84, 39, 39, 0);
    border-radius: 8pt;
    margin-left:-5px;
    display: flex;
    justify-content: space-between;
}

DIV.leaderboard .online_small_font {
    vertical-align: middle;
    font-family: "Arial", serif;
    font-size: 9pt
}

DIV.tracker_detail_container {
    flex-direction: row !important;
    flex-wrap: nowrap;
}

DIV.tracker_detail_trackers {
    display: flex;
    flex-wrap: wrap;
}

DIV.tracker_detail_trackers > DIV {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding-top: 10pt;
}

.tracker_detail_trackers .item {
    padding: 0 10pt;
    min-width: 170pt !important;
    min-height: 30pt;
}

DIV.tracker_detail_container > DIV.clear {
    flex-basis: 100%;
    height: 0;
}

DIV.day_by_day {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

DIV.day_by_day > DIV {
    flex: 1;
    min-width: 80pt;
    padding: 3pt 10pt 3pt 10pt;
}

DIV.day_by_day > DIV.clear {
    flex-basis: 100%;
    height: 0;
}

DIV.day_by_day > DIV.line {
    margin: 5pt 0;
    border-top: solid 1pt wheat;
}

DIV.day_by_day > DIV.day_by_day_thumb {
    flex: 0 0 24pt;
    min-width: 24pt;
}

DIV.day_by_day > DIV.day_by_day_head {
    text-align: center;
    font-size: 18pt;
}

#tracker_detail_instructions {
    display: flex;
    flex-direction: column;
}

.sortable {
    cursor: pointer;
}

.center-text {
    text-align: center;
}

.shadow_container {
    box-shadow: 3px 3px 12pt -3pt #111;
    border-radius: 12px;
    margin: 6pt;
}

/* player profile page */

.player_profile_card {
    flex-direction: column;
    justify-content: left;
}

.player_profile_card > .item{
    padding: 4pt 12pt;
}

.player_profile_name {
    font-size: 24pt;
    text-align: center;
}

.player_profile_selected_legend {
    font-size: 14pt;
}

.profile_total_stat_item {
    flex-grow: 1;
    flex-basis: 0;
}

.profile_stat_inner_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile_stat_circle_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile_stat_circle_container > DIV {
    padding: 10pt;
}

DIV.profile {
    flex-direction: column;
}

.profile_header_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10pt 25pt;
}

.profile_header_container > DIV {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12pt;
    text-align: center;
    flex-grow: 0;
    flex-basis: 0;
}

.header_divider_line {
    border-left: solid 0.5pt wheat;
    margin-top: 5pt;
    margin-bottom: 10pt;
}

.profile_header_total {
    font-size: 24pt !important;
}

/* Profile tracker totals */
.circle_base {
    border-radius: 50%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circle_container {
    width: 180pt;
    height: 180pt;
    position: relative;
}

.circle_item {
    flex: 0 0 180pt;
}

.circle_inner {
    width: 90%;
    height: 90%;
    border: 3pt solid wheat;
}

.circle_outer {
    width: 100%;
    height: 100%;
    border: 1pt solid wheat;
}

.circle_text {
    text-align: center;
    vertical-align: middle;
}

.circle_total_label, .circle_total_subtext {
    font-size: 12pt;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
}

.circle_total_subtext {
    font-size: 11pt;
}

.circle_total, .profile_header_total {
    font-size: 32pt;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}
/* shared */
.version {
    font-weight: lighter;
    font-size: 12pt;
    padding-left: 25pt;
}
/* index */

.home_player_list {
    flex: 0 0 220px;
}

.progress-bar-tracker-state-old {
    opacity: 0.4;
}

.progress-bar-tracker-state-missing {
    color: red;
    opacity: 0.6;
}
.progress-bar-tracker-state-current {

}

.progress-container {
    width: 100%;
    height: 6px;
    position: relative;
    margin: 0;
}
.progress-background {
    border-style: solid;
    height: 0;
    width: 100%;
    position: absolute;
    border-color: transparent transparent #222 transparent;
    border-width: 0 6px 6px 0;
}

.progress-bar {
    border-style: solid;
    height: 0;
    position: absolute;
    border-color: transparent transparent #aeaeae transparent;
    border-width: 0 6px 6px 0;
    z-index: 9;
}

.no_margin {
    margin: 0;
}

.legend_thumb {
    width: 32px;
    height: auto;
    filter: invert(100%);
    vertical-align: middle;
}
