body {
    background-image: url(background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
    color: wheat;
    background-color: black;
}

a {
    color: wheat;
}
.base_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(84, 39, 39, 0.6);
    padding: 10pt 0 10pt 0;
}

.base_container > DIV {
    margin: 10pt;
    padding: 10pt;
    overflow:hidden;
    background-color: rgba(84, 39, 39, 0.6);
    box-shadow: 3px 3px 12pt -3pt #111;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

DIV.header {
    padding: 8pt;
}

DIV.header_left {
    justify-content: left;
}

DIV.header_left > DIV {
    padding-left: 14pt;
}

.header > DIV {
    border-left: solid 1pt wheat;
    flex-grow: 0;
    padding-left: 8pt;
    padding-right: 8pt;
    font-size: 14pt;
}

.header > DIV:first-child {
    border-left: 0;
}

.header > DIV:last-child {
    text-align: right;
    border-left: 0;
    flex-grow:1;
}

.login_name {
    display: flex;
    float:right;
    padding-right: 15pt;
    align-items:center;
}

.login_name > DIV > IMG {
    max-height:26pt;
    margin-top: 2pt;
    padding-right: 5pt;
}
DIV.date_picker {
    display: flex;
    justify-content: center;
    padding-top: 12pt;
    padding-bottom: 4pt;
    vertical-align: center;
    font-size: 18pt;
}

DIV.date_picker > DIV {
    border-bottom: solid 1pt wheat;
}

.date_picker .prev_next_arrow {
    width: 1.4em;
    padding-left: 24pt;
    padding-right: 24pt;
    height: auto;
}

.date_picker .prev_next_arrow_disabled {
    width: 1.4em;
    padding-left: 24pt;
    padding-right: 24pt;
    height: auto;
    vertical-align: middle;
    opacity: 40%;
}

DIV.battlepass > DIV.name {
    max-width: 110pt;
}

DIV.battlepass > DIV.intro {
    text-align: center;
}

DIV.battlepass > DIV.border {
    border-bottom: 1px solid wheat;
    padding-top: 10pt;
    margin-bottom: 8pt;
}

DIV.leaderboard, DIV.battlepass {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

DIV.battlepass > DIV, DIV.leaderboard > DIV {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 80pt;
    padding: 3pt 10pt 3pt 10pt;
}

DIV.battlepass > DIV.clear, DIV.leaderboard > DIV.clear {
    flex-basis: 100%;
    height: 0;
}

DIV.leaderboard .online {
    overflow: hidden;
    background: rgba(181, 181, 181, 0.13) !important;
    border: solid 5px rgba(84, 39, 39, 0);
    border-radius: 8pt;
    margin-left:-5px;
    display: flex;
    justify-content: space-between;
}

DIV.leaderboard .online_small_font {
    vertical-align: middle;
    font-family: "Arial", serif;
    font-size: 9pt
}

DIV.day_by_day {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

DIV.day_by_day > DIV {
    flex: 1;
    min-width: 90pt;
    padding: 3pt 10pt 3pt 10pt;
}

DIV.day_by_day > DIV.clear {
    flex-basis: 100%;
    height: 0;
}

DIV.day_by_day > DIV.line {
    margin: 5pt 0;
    border-top: solid 1pt wheat;
}

DIV.day_by_day > DIV.day_by_day_thumb {
    flex: 0 0 24pt;
    min-width: 24pt;
}

.legend_thumb {
    width: 32px;
    height: auto;
    filter: invert(100%);
    vertical-align: middle;
}

DIV.day_by_day > DIV.day_by_day_head {
    display: flex;
    text-align: center;
    font-size: 18pt;
}

DIV.day_by_day_head > DIV {
    flex-grow: 1;
}

DIV.day_by_day_head > DIV:first-child {
    text-align: left;
    font-size: 14pt;
}
DIV.day_by_day > DIV{
    font-size: 12pt;
}

/* player profile page */
DIV.profile {
    flex-direction: column;
}

.profile_player_name > IMG.platform_logo {
    width: 18pt;
}

.profile > .profile_player_name {
    font-size: 24pt !important;
    text-align: center;
}

/* online */
.profile_player_name > SPAN.profile_online {
    background-color: #024f02;
    vertical-align: super;
    font-size: 13pt;
    border-radius: 3pt;
    padding: 1pt 4pt;
}

.profile > .profile_selected_legend {
    font-size: 14pt;
    text-align: center;
    padding-bottom: 5pt;
}

.profile > .profile_details {
    background-color: rgba(255, 255, 255, 0.04);
    border-top: 1pt solid wheat;
    padding: 5pt;
    text-align: center;
}

DIV.claim_profile {
    flex-direction: column;
    padding: 10pt 10pt;
}

DIV.claim_profile > .discord_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 10pt 0;
}

.discord_info > DIV > IMG {
    clip-path: circle(35%);
    padding: 0 10pt;
}

.discord_info > DIV.discord_login_info {
    display: flex;
    align-items:center;
    font-size: 18pt;
    padding-bottom: 10pt;
}

.discord_info  > .clear {
    flex-basis: 100%;
    height: 0;
}

.version {
    font-weight: lighter;
    font-size: 12pt;
    padding-left: 25pt;
}

.progress-bar-tracker-state-old {
    opacity: 0.4;
}

.progress-bar-tracker-state-missing {
    color: red;
    opacity: 0.6;
}
.progress-bar-tracker-state-current {

}

.progress-container {
    width: 100%;
    height: 6px;
    position: relative;
    margin: 0;
}
.progress-background {
    border-style: solid;
    height: 0;
    width: 100%;
    position: absolute;
    border-color: transparent transparent #222 transparent;
    border-width: 0 6px 6px 0;
}

.progress-bar {
    border-style: solid;
    height: 0;
    position: absolute;
    border-color: transparent transparent #aeaeae transparent;
    border-width: 0 6px 6px 0;
    z-index: 9;
}

.sortable {
    cursor: pointer;
}

:root {
    --dark-red: #542727;
    --wheat-highlight: #f1e2c4;
    --litepicker-container-months-color-bg: var(--wheat-highlight);
    --litepicker-container-months-box-shadow-color: #3e3e3e;
    --litepicker-footer-color-bg: #fafafa;
    --litepicker-footer-box-shadow-color: #ddd;
    --litepicker-tooltip-color-bg: #fff;
    --litepicker-month-header-color: var(--dark-red);
    --litepicker-button-prev-month-color: #bca69d;
    --litepicker-button-next-month-color: var(--litepicker-button-prev-month-color);
    --litepicker-button-prev-month-color-hover: var(--dark-red);
    --litepicker-button-next-month-color-hover: var(--dark-red);
    --litepicker-month-width: calc(var(--litepicker-day-width) * 7);
    --litepicker-month-weekday-color: rgba(0, 0, 0, 0.35);
    --litepicker-month-week-number-color: #9e9e9e;
    --litepicker-day-width: 38px;
    --litepicker-day-color: var(--dark-red);
    --litepicker-day-color-hover: rgba(0, 0, 0, 0.5);
    --litepicker-is-today-color: rgb(255, 109, 0);
    --litepicker-is-in-range-color: #bbdefb;
    --litepicker-is-locked-color: #9e9e9e;
    --litepicker-is-start-color: #fff;
    --litepicker-is-start-color-bg: #2196f3;
    --litepicker-is-end-color: #fff;
    --litepicker-is-end-color-bg: #2196f3;
    --litepicker-button-cancel-color: #fff;
    --litepicker-button-cancel-color-bg: #9e9e9e;
    --litepicker-button-apply-color: #fff;
    --litepicker-button-apply-color-bg: #2196f3;
    --litepicker-button-reset-color: #909090;
    --litepicker-button-reset-color-hover: #2196f3;
    --litepicker-highlighted-day-color: wheat;
    --litepicker-highlighted-day-color-bg: #542727;
}