body {
    background-image: url(background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
    color: wheat;
}

a {
    color: wheat;
}

/* shared */
.version {
    font-weight: lighter;
    font-size: 12pt;
    padding-left: 25pt;
}
/* index */

.home_player_list {
    flex: 0 0 220px;
}

.online {
    overflow: hidden;
    background: rgba(181, 181, 181, 0.13) !important;
    border: solid 5px rgba(84, 39, 39, 0);
    border-radius: 8pt;
    margin-left:-5px;
}

.online_small_font {
    vertical-align: middle;
    font-family: "Arial", serif;
    font-size: 9pt
}

.container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
    margin: 25pt;
    overflow:hidden;
}

.progress-container {
    width: 100%;
    height: 6px;
    position: relative;
    margin: 0;
}
.progress-background {
    border-style: solid;
    height: 0;
    width: 100%;
    position: absolute;
    border-color: transparent transparent #222 transparent;
    border-width: 0 6px 6px 0;
}

.progress-bar {
    border-style: solid;
    height: 0;
    position: absolute;
    border-color: transparent transparent #aeaeae transparent;
    border-width: 0 6px 6px 0;
    z-index: 9;
}

.header {
    justify-content: left;
    flex-grow: 1;
    margin: 0;
    border-bottom: solid 1px;
    text-align: center;
}

.footer {
    justify-content: left;
    flex-grow: 1;
    margin: 0;
    border-top: solid 1px;
    font-weight: lighter;
    font-size: 12pt;
}

.no_margin {
    margin: 0;
}

.small_margin {
    margin: 6pt;
}

.item {
    flex-grow: 1;
    background: rgba(84, 39, 39, 0.6);
    padding:12pt;
    flex-basis: 0;
}

.legend_thumb {
    width: 32px;
    height: auto;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
    vertical-align: middle;
}

.small_padding {
    padding: 6pt;
}

.no_padding {
    padding: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}
.shadow {
    box-shadow: 3px 3px 12pt -3pt #111;
    border-radius: 12px;
}
