{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'favicons.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?{{ "" | append_version_number }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>{{ page_title }}</title>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<div class="base_container">
    {% if 'battlepass' in request.endpoint %}
        <div class="header_left">
            <div><a href="{{ url_for('index') }}">Home Page</a></div>
        </div>
    {% elif 'index' in request.endpoint %}
        <div class="header_left">
            <div><a href="{{ url_for('battlepass') }}">Battle Pass</a></div>
        </div>
    {% elif 'index' not in request.endpoint %}
        <div class="header">
            <div>
                {{ player_name }}:
            </div>
            <div>{% if 'day_by_day' in request.endpoint %}Day by Day Totals{% else %}
                <a href="{{ url_for('day_by_day', player_uid=player_uid) }}">Day by Day Totals</a>{% endif %}
            </div>
            <div>{% if 'profile' in request.endpoint %}Profile Page{% else %}
                <a href="{{ url_for('profile', player_uid=player_uid) }}">Profile Page</a> {% endif %}
            </div>
            <div><a href="{{ url_for('battlepass') }}">Battle Pass</a></div>
            <div>{% if 'index' in request.endpoint %}Home Page{% else %}
                <a href="{{ url_for('index') }}">Home Page</a>{% endif %}
            </div>
        </div>
    {% else %}
    {% endif %}
    {% block content %} {% endblock %}
</div>
<a href="https://github.com/johnsturgeon/apex-legends-tracker/releases" target="_blank">{{ macros.version() }}</a>
</body>
</html>