{% import 'macros.html' as macros %}
{% set session_player = session.get('player') %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'favicons.html' %}
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:image" content="{{ url_for('static', filename='images/preview_image.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?{{ "" | append_version_number }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>{{ page_title }}</title>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
            $('body').addClass('js');

            const $hamburger = $('.hamburger'),
                $nav = $('#site-nav'),
                $masthead = $('#masthead');

            $hamburger.click(function() {
                $(this).toggleClass('is-active');
                $nav.toggleClass('is-active');
                $masthead.toggleClass('is-active');
                return false;
            })
        });
    </script>
</head>
<body>
<div class="base_container">
    <div class="hero">
        <div id="masthead">
            <div class="container">
                <button class="hamburger hamburger--boring" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                    <span class="hamburger-label">Menu</span>
                </button>
                {% if session_player %}
                <div class="login_name">
                    <div><img src="{{ url_for('static', filename='images/discord-logo.png') }}" alt="discord logo"></div>
                    <div>{{ session_player.name }}</div>
                </div>
                {% endif %}
                <nav id="site-nav" role="navigation">
                    <div class="col">
                        <h4>Site wide</h4>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('battlepass') }}">Battlepass</a></li>
                        </ul>
                    </div>
                    {% if session_player %}
                        <div class="col">
                            <h4>Personal</h4>
                            <ul>
                                <li><a href="{{ url_for('profile', player_uid=session_player.uid) }}">Profile Page</a></li>
                                <li><a href="{{ url_for('day_by_day', player_uid=session_player.uid) }}">Day by Day</a></li>
                                <li><a href="{{ url_for('day_detail', player_uid=session_player.uid) }}">Single Day Detail</a></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="col">
                            <h4>Personal</h4>
                            <ul>
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    {% if is_not_me %}
                        <div class="col">
                            <h4>{{ player.name }}</h4>
                            <ul>
                                <li><a href="{{ url_for('profile', player_uid=player.uid) }}">Profile Page</a></li>
                                <li><a href="{{ url_for('day_by_day', player_uid=player.uid) }}">Day by Day</a></li>
                                <li><a href="{{ url_for('day_detail', player_uid=player.uid) }}">Single Day Detail</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
</div>
<a href="https://github.com/johnsturgeon/apex-legends-tracker/releases" target="_blank">{{ macros.version() }}</a>
</body>
</html>