{% extends 'base.html' %}
{% set page_title="Day Detail" %}
{% set player = view_controller.player %}
{% set session_player = session.get('player') %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <div class="day_by_day_other_user">Single Day Detail {% if is_not_me%}({{ player.name }}){% endif %}</div>
    <div class="day_detail">
        {% set num_games_played=(view_controller.games|length) -%}
        {% set total_kills=view_controller.category_total(category='kills') -%}
        {% set avg_kills=view_controller.category_average(category='kills') | round(2) -%}
        {% set total_minutes=view_controller.category_total(category='game_length') %}
        {% set avg_minutes=view_controller.category_average(category='game_length') | round(1)  %}
        {% set total_wins=view_controller.category_total(category='wins') -%}
        {% set total_damage=view_controller.category_total(category='damage') -%}
        {% set avg_damage=view_controller.category_average(category='damage') | round(0) | int -%}
        {% set total_xp=view_controller.category_total(category='xp_progress') -%}
        {% set avg_xp=view_controller.category_average(category='xp_progress') | round(0) | int %}
        {% set total_rp=view_controller.category_total(category='rank_score_change') %}
        {% set avg_rp=view_controller.category_average(category='rank_score_change') | round(1)%}
        {% set max_kills=view_controller.category_max(category='kills') %}
        {% set max_damage=view_controller.category_max(category='damage') %}
        {% set max_xp=view_controller.category_max(category='xp_progress') %}
        {% set max_minutes=view_controller.category_max(category='game_length') %}
        {% set max_rp=view_controller.category_max(category='rank_score_change') %}
        {% set leaderboard_points=view_controller.leaderboard_points() %}
        {% set leaderboard_place=view_controller.leaderboard_place() %}
        {% if num_games_played > 0 %}
            {% set leader_ppg=(leaderboard_points/num_games_played) | round(1) %}
            {% set avg_wbr=(total_xp / num_games_played / 100) | round(2) %}
        {% else %}
            {% set leader_ppg=0 %}
            {% set avg_wbr=0 %}
        {% endif %}

        <div class="date_picker_row">
            <div class="date_picker_item">
                <div>
                    <a href="{{ url_for('day_detail', day=prev_day, player_uid=player.uid, sort_key=sort_key) }}"><!--
                         --><img alt="Previous day arrow image" class="prev_next_arrow" src="{{ url_for('static', filename='images/prev_arrow.svg') }}"><!--
                     --></a>
                </div>
                <div><a href="#" id="date_picker">{{ day }}</a></div>
                {% if next_day %}
                    <div>
                        <a href="{{ url_for('day_detail', day=next_day, player_uid=player.uid, sort_key=sort_key) }}">
                            <img alt="Next day arrow image" class="prev_next_arrow" src="{{ url_for('static', filename='images/next_arrow.svg') }}">
                        </a>
                    </div>
                {% else %}
                    <div>
                        <img alt="Next day arrow image" class="prev_next_arrow disabled" src="{{ url_for('static', filename='images/next_arrow.svg') }}">
                    </div>
                {% endif %}
            </div>
        </div>
        {% set games = view_controller.games %}
        {% if not games %}
            <div>No games played today</div>
        {% else %}
            <div class="one_day_totals">
                <div class="label">Day Totals</div>
                <div class="day_total_stat">
                    <div>Games</div>
                    <div>{{ num_games_played }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Leaderboard</div>
                    <div>{{ leaderboard_points }} ({{ leaderboard_place }})</div>
                </div>
                <div class="day_total_stat">
                    <div>Kills</div>
                    <div>{{ total_kills }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Damage</div>
                    <div>{{ total_damage }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Wins</div>
                    <div>{{ total_wins }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Time Played</div>
                    <div>{{ view_controller.total_time_played() }}</div>
                </div>
                <div class="day_total_stat">
                    <div>XP</div>
                    <div>{{ total_xp }}</div>
                </div>
                {% if total_rp %}
                    <div class="day_total_stat">
                        <div>RP</div>
                        <div>{{ total_rp }}</div>
                    </div>
                {% else %}
                    <div class="day_total_stat hidden">
                    </div>
                {% endif %}
                <div class="label">Day Averages</div>
                <div class="day_total_stat">
                    <div>WBR</div>
                    <div>{{ avg_wbr }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Leaderboard PPG</div>
                    <div>{{ leader_ppg }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Kills / Game</div>
                    <div>{{ avg_kills }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Damage / Game</div>
                    <div>{{ avg_damage }}</div>
                </div>
                <div class="day_total_stat">
                    <div>Win Rate</div>
                    <div>0%</div>
                </div>
                <div class="day_total_stat">
                    <div>Avg Game Length</div>
                    <div>{{ view_controller.avg_time_played() }}</div>
                </div>
                <div class="day_total_stat">
                    <div>XP / Game</div>
                    <div>{{ avg_xp }}</div>
                </div>
                {% if total_rp %}
                    <div class="day_total_stat">
                        <div>RP / Game</div>
                        <div>{{ avg_rp }}</div>
                    </div>
                {% else %}
                    <div class="day_total_stat hidden">
                    </div>
                {% endif %}
            </div>
            {% for game in games %}
                {% set rp = game.rank_score_change | int %}
                {% if rp %}
                <div class="game_result_container rp_grid">
                {% else %}
                <div class="game_result_container plain_grid">
                {% endif %}
                    <div class="gr_heading">
                        {% set games_near_me = view_controller.find_games_near_mine(game) %}
                        {% set formatted_date=game.formatted_time %}
                        {% if game.wins %}
                            <div class="winner"><img src="{{ url_for('static', filename='images/champion.png') }}" alt="champion"></div>
                        {% endif %}
                        <div class="date">{{ formatted_date }}</div>
                        {% if games_near_me %}
                            <div>Team Kills: {{ view_controller.category_squad_total(game, 'kills') }}</div>
                            <div>Team Damage: {{ view_controller.category_squad_total(game, 'damage') }}</div>
                            <div>Length: {{ game.game_length }} minutes</div>
                        {% else %}
                            <div>Solo Game</div>
                            <div></div>
                            <div></div>
                        {% endif %}
                        <div></div>
                    </div>
                    <div class="game_results">
                        {% set legend=game.legend_played %}
                        <div class="day_detail_thumb">
                            <img class="legend_thumb" alt="{{ legend }} icon" title="{{ legend }}"
                                 src="{{ url_for('static', filename='images/'+legend | lower+'_icon.svg') }}">
                        </div>
                        {% if games_near_me %}
                            <div>{{ game.player }}</div>
                        {% else %}
                            {{ macros.progress_container("Minutes", game.game_length, max_minutes, show_total=False) }}
                        {% endif %}
                        {{ macros.progress_container("Kills", game.kills, max_kills, show_total=False) }}
                        {{ macros.progress_container("Damage", game.damage, max_damage, show_total=False) }}
                        {{ macros.progress_container("XP", game.xp_progress, max_xp, show_total=False) }}
                        {% if rp %}
                            {% if rp < 0 %}
                                {% set color="#FF2621" %}
                            {% endif %}
                            {{ macros.progress_container("RP", rp, max_rp, show_total=False, total_color=color) }}
                        {% endif %}
                        {% for game in games_near_me %}
                            {% set games_near_me = view_controller.find_games_near_mine(game) %}
                            {% set rp = game.rank_score_change | int %}
                            {% set legend=game.legend_played %}
                            {% set formatted_date=game.formatted_time %}
                            <div class="day_detail_thumb">
                                <img class="legend_thumb" alt="{{ legend }} icon" title="{{ legend }}"
                                     src="{{ url_for('static', filename='images/'+legend | lower+'_icon.svg') }}">
                            </div>
                            <div>{{ game.player }}</div>
                            <div>Kills: {{ game.kills }}</div>
                            <div>Damage: {{ game.damage }}</div>
                            <div>XP: {{ game.xp_progress }}</div>
                            {% if rp %}
                                <div>RP: {{ game.rank_score_change }}</div>
                            {% endif %}
                        {% endfor %}
                    </div> <!-- end game_results -->
                </div> <!-- end game_results_container -->
            {% endfor %}
            </div> <!-- end day_detail -->
        {% endif %}
    <script>
        const picker = new Litepicker({
            element: document.getElementById('date_picker'),
            highlightedDays: ['{{ day }}'],
            maxDate: new Date()
        });
        picker.on('selected', (date1) => {
            const myUrlWithParams = new URL(window.location.href);
            myUrlWithParams.searchParams.delete("day")
            myUrlWithParams.searchParams.append("day", date1.format('YYYY-MM-DD'))
            window.location=myUrlWithParams
        });
        $(document).ready(function(){
            $('#{{ sort_key }}').append(' *')
            $('.sortable').click(function(_) {
                sort_by_key($(this).attr('id'))
            });

        });
    </script>

{% endblock %}
