{% extends 'base.html' %}
{% set page_title="Friends of the Apex Legends API: Day Summary" %}
{% set player = view_controller.player %}
{% set player_uid = player.uid %}
{% block content %}
    {% for day in view_controller.days_played()%}
        <div class="day_by_day">
            {% set num_games_played=view_controller.games_played(day) | length -%}
            {% set kills=view_controller.category_total(day=day, category='kills') -%}
            {% set avg_kills=view_controller.category_average(day=day, category = 'kills') | round(2) -%}
            {% set wins=view_controller.category_total(day=day, category='wins') -%}
            {% set damage=view_controller.category_total(day=day, category='damage') -%}
            {% set avg_damage=view_controller.category_average(day=day, category='damage') | round(0) | int -%}
            {% set xp=view_controller.category_total(day=day, category='xp') -%}
            {% set avg_xp=view_controller.category_average(day=day, category='xp') | round(0) | int %}
            <div class="day_by_day_head">
                <div class="item small_padding">{{ day }}</div>
            </div>
            <div class="clear line"></div>
            <div>Games Played: {{ games_played }}</div>
            <div>Kills: {{ kills }}<br><i>{{ avg_kills }} / game</i></div>
            <div>Wins: {{ wins }}</div>
            <div>
                Damage: {{ damage }}<br><i>{{ avg_damage }} / game</i>
            </div>
            <div>
                XP: {{ xp }}<br><i>{{ avg_xp }} / game</i>
            </div>
            <div class="clear line"></div>
            {% for legend in view_controller.get_legends_played(day) %}
                {% set legend_games=view_controller.games_played(day, legend) | length -%}
                {% set legend_kills=view_controller.category_total(day, 'kills', legend) -%}
                {% set legend_wins=view_controller.category_total(day, 'wins', legend) -%}
                {% set legend_damage=view_controller.category_total(day, 'damage', legend)  -%}
                {% set legend_xp=view_controller.category_total(day, 'xp', legend) -%}
                {% set xp_efficiency=(legend_xp / legend_games / 100) | round(2) %}
                <div class="day_by_day_thumb">
                    <img class="legend_thumb" alt="{{ legend }} icon" title="{{ legend }}"
                         src="{{ url_for('static', filename='images/'+legend | lower+'_icon.svg') }}">
                </div>
                <div style="flex-shrink: 0; flex-grow: 0">
                    WBR: {{ xp_efficiency }}
                </div>
                {{ macros.progress_container("Games", legend_games, games_played) }}
                {{ macros.progress_container("Kills", legend_kills, kills) }}
                {{ macros.progress_container("Wins", legend_wins, wins) }}
                {{ macros.progress_container("Damage", legend_damage, damage) }}
                {{ macros.progress_container("XP", legend_xp, xp) }}
                <div class="clear"></div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
