{% extends 'base.html' %}
{% set page_title="Day Summary" %}
{% set player = view_controller.player %}
{% set session_player = session.get('player') %}
{% block content %}
    <div class="day_by_day_other_user">Day by Day Summary {% if is_not_me%}({{ player.name }}){% endif %}</div>
    {% for day in view_controller.days_played()%}
        <div class="day_by_day">
            {% set num_games_played=view_controller.games_played(day=day) | length -%}
            {% set kills=view_controller.category_total(day=day, category='kills') -%}
            {% set avg_kills=view_controller.category_average(day=day, category = 'kills') | round(2) -%}
            {% set wins=view_controller.category_total(day=day, category='wins') -%}
            {% set damage=view_controller.category_total(day=day, category='damage') -%}
            {% set avg_damage=view_controller.category_average(day=day, category='damage') | round(0) | int -%}
            {% set xp=view_controller.category_total(day=day, category='xp_progress') -%}
            {% set avg_xp=view_controller.category_average(day=day, category='xp_progress') | round(0) | int %}
            <div class="date_heading">{{ day }}</div>
            <div class="day_detail_link"><a href="{{ url_for('day_detail', day=day, player_uid=player.uid) }}">See Day Detail</a></div>
            <div class="line"></div>
            <div class="day_totals">Day Totals</div>
            <div>Games Played: {{ num_games_played }}</div>
            <div>Kills: {{ kills }}<br><i>{{ avg_kills }} / game</i></div>
            <div>Wins: {{ wins }}</div>
            <div>
                Damage: {{ damage }}<br><i>{{ avg_damage }} / game</i>
            </div>
            <div>
                XP: {{ xp }}<br><i>{{ avg_xp }} / game</i>
            </div>
            <div class="line"></div>
            {% for legend in view_controller.get_legends_played(day=day) %}
                {% set legend_games=view_controller.games_played(day=day, legend=legend) | length -%}
                {% set legend_kills=view_controller.category_total(day=day, category='kills', legend=legend) -%}
                {% set legend_wins=view_controller.category_total(day=day, category='wins', legend=legend) -%}
                {% set legend_damage=view_controller.category_total(day=day, category='damage', legend=legend)  -%}
                {% set legend_xp=view_controller.category_total(day=day, category='xp_progress', legend=legend) -%}
                {% set xp_efficiency=(legend_xp / legend_games / 100) | round(2) %}
                <div class="day_by_day_thumb">
                    <img class="legend_thumb" alt="{{ legend }} icon" title="{{ legend }}"
                         src="{{ url_for('static', filename='images/'+legend | replace(' ','_') | lower+'_icon.svg') }}">
                </div>
                <div style="flex-shrink: 0; flex-grow: 0">
                    WBR: {{ xp_efficiency }}
                </div>
                {{ macros.progress_container("Games", legend_games, num_games_played) }}
                {{ macros.progress_container("Kills", legend_kills, kills) }}
                {{ macros.progress_container("Wins", legend_wins, wins) }}
                {{ macros.progress_container("Damage", legend_damage, damage) }}
                {{ macros.progress_container("XP", legend_xp, xp) }}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
