{% extends 'base.html' %}
{% set page_title="Leaderboard" %}
{% set session_player = session.get('player') %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>

    <div class="day_detail">
        {% if is_not_me %}
            <div class="day_detail_head">
                <div class="item small_padding">{{ player.name }}</div>
            </div>
            <div class="clear"></div>
        {% endif %}
        <div class="date_picker" style="flex-grow:1; justify-content: space-between">
            <div class="leaderboard_header">
                {% if clan == 'DADS' %}
                    <a href="{{ url_for('leaderboard')}}">See sweaty childless players</a>
                {% else %}
                    <a href="{{ url_for('leaderboard', clan='DADS')}}">Hide sweaty childless players</a>
                {% endif %}
            </div>
            <div style="display: flex; flex-direction: row">
                <div>
                    <a href="{{ url_for('leaderboard', day=prev_day) }}"><!--
                     --><img alt="Previous day arrow image" class="prev_next_arrow" src="{{ url_for('static', filename='images/prev_arrow.svg') }}"><!--
                 --></a>
                </div>
                <div><a href="#" id="date_picker">{{ day }}</a></div>
                {% if next_day %}
                    <div>
                        <a href="{{ url_for('leaderboard', day=next_day) }}">
                            <img alt="Next day arrow image" class="prev_next_arrow" src="{{ url_for('static', filename='images/next_arrow.svg') }}">
                        </a>
                    </div>
                {% else %}
                    <div>
                        <img alt="Next day arrow image" class="prev_next_arrow_disabled" src="{{ url_for('static', filename='images/next_arrow.svg') }}">
                    </div>
                {% endif %}
            </div>
            <div class="leaderboard_header"></div>
        </div>
        <div class="clear line"></div>
        <div class="leaderboard_panel">
            <table><caption>Totals</caption>
                <thead>
                <tr>
                    <th>Player</th><th>Total Points</th>
                </tr>
                </thead>
                {% for player in view_controller.players_sorted_by_key('point_total') %}
                    {% set points = player.point_total %}
                    <tr>
                        <td>
                            <div class="tooltip">{{ player.name }}{% if player.is_online %} <span class="online_ball">🟢</span>{% endif %}
                                <div class="tooltiptext">
                                    <table>

                                        <tr>
                                            <td>Games: </td><td>{{ player.games_played }}</td>
                                        </tr>
                                        <tr>
                                            <td>PPG: </td><td>{{ (points / player.games_played) | round(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>WBR: </td><td>{{ (player.xp_total / player.games_played / 100) | round(2) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>{{ points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="clear line"></div>
        <div class="leaderboard_panel">
            <table><caption>Kills</caption>
                <thead>
                <tr>
                    <th>Player</th><th>Kills</th><th>Points</th>
                </tr>
                </thead>
                {% for player in view_controller.players_sorted_by_key('kills_total') %}
                    {% set points = view_controller.points_for_category('kills_total', player.uid) %}
                    <tr>
                        <td>{{ player.name }}</td><td>{{ player.kills_total }}</td><td>{{ points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="leaderboard_panel">
            <table><caption>Damage</caption>
                <thead>
                <tr>
                    <th>Player</th><th>Damage</th><th>Points</th>
                </tr>
                </thead>
                {% for player in view_controller.players_sorted_by_key('damage_total') %}
                    {% set points = view_controller.points_for_category('damage_total', player.uid) %}
                    <tr>
                        <td>{{ player.name }}</td><td>{{ player.damage_total }}</td><td>{{ points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="leaderboard_panel">
            <table><caption>Wins</caption>
                <thead>
                <tr>
                    <th>Player</th><th>Wins</th><th>Points</th>
                </tr>
                </thead>
                {% for player in view_controller.players_sorted_by_key('wins') %}
                    {% set points = view_controller.points_for_category('wins', player.uid) %}
                    <tr>
                        <td>{{ player.name }}</td><td>{{ player.wins }}</td><td>{{ points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="leaderboard_panel">
            <table><caption>XP</caption>
                <thead>
                <tr>
                    <th>Player</th><th>XP</th><th>Points</th>
                </tr>
                </thead>
                {% for player in view_controller.players_sorted_by_key('xp_total') %}
                    {% set points = view_controller.points_for_category('xp_total', player.uid) %}
                    <tr>
                        <td>{{ player.name }}</td><td>{{ player.xp_total }}</td><td>{{ points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if not next_day %}
        <script>
            const seconds = 1000
            setTimeout(function(){
                location.reload();
            }, 30 * seconds)
        </script>
    {% endif %}
    <script>
        const picker = new Litepicker({
            element: document.getElementById('date_picker'),
            highlightedDays: ['{{ day }}'],
            maxDate: new Date()
        });
        picker.on('selected', (date1) => {
            const myUrlWithParams = new URL(window.location.href);
            myUrlWithParams.searchParams.delete("day")
            myUrlWithParams.searchParams.append("day", date1.format('YYYY-MM-DD'))
            window.location=myUrlWithParams
        });
    </script>

{% endblock %}
