{% extends 'base.html' %}
{% set page_title="Leaderboard" %}
{% set session_player = session.get('player') %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <div class="leaderboard_body">
        <div class="date_picker_row">
            <div class="date_picker_item">
                <div>
                    <a href="{{ url_for('leaderboard', day=prev_day, clan=clan) }}"><!--
                         --><img alt="Previous day arrow image" class="prev_next_arrow" src="{{ url_for('static', filename='images/prev_arrow.svg') }}"><!--
                     --></a>
                </div>
                <div><a href="#" id="date_picker">{{ day }}</a></div>
                {% if next_day %}
                    <div>
                        <a href="{{ url_for('leaderboard', day=next_day, clan=clan) }}">
                            <img alt="Next day arrow image" class="prev_next_arrow" src="{{ url_for('static', filename='images/next_arrow.svg') }}">
                        </a>
                    </div>
                {% else %}
                    <div>
                        <img alt="Next day arrow image" class="prev_next_arrow disabled" src="{{ url_for('static', filename='images/next_arrow.svg') }}">
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="leaderboard_header">
            {% if clan == 'DADS' %}
                <a href="{{ url_for('leaderboard', day=day)}}">See sweaty childless players</a>
            {% else %}
                <a href="{{ url_for('leaderboard', day=day, clan='DADS')}}">Hide sweaty childless players</a>
            {% endif %}
        </div>
        <div class="center">
            {{ macros.leaderboard_totals(view_controller) }}
        </div>
        <div class="gap"></div>
        <div class="leaderboard_panels">
            {{ macros.leaderboard_panel(view_controller, 'Kills', 'kills_total') }}
            {{ macros.leaderboard_panel(view_controller, 'Damage', 'damage_total') }}
            {{ macros.leaderboard_panel(view_controller, 'Wins', 'wins') }}
            {{ macros.leaderboard_panel(view_controller, 'XP', 'xp_total') }}
        </div>
    </div>
    {% if not next_day %}
        <script>
            const seconds = 1000
            setTimeout(function(){
                location.reload();
            }, 30 * seconds)
        </script>
    {% endif %}
    <script>
        const picker = new Litepicker({
            element: document.getElementById('date_picker'),
            highlightedDays: ['{{ day }}'],
            maxDate: new Date()
        });
        picker.on('selected', (date1) => {
            const myUrlWithParams = new URL(window.location.href);
            myUrlWithParams.searchParams.delete("day")
            myUrlWithParams.searchParams.append("day", date1.format('YYYY-MM-DD'))
            window.location=myUrlWithParams
        });
    </script>

{% endblock %}
