{% macro progress_container(label, count, total, highlight_max=False, show_total=True) -%}
    {% if total > 0 %}
        {% set percent=(count/total)*100 %}
    {% else %}
        {% set percent=0 %}
    {% endif %}
    <div class="item">
        {{ left_right_style(label, count, total, highlight_max, show_total) }}
        {{ progress_bar(percent) }}
    </div>
{% endmacro -%}

{% macro tracker_detail_progress_container(player_uid, legend_name, tracker_key) -%}
    <div id="tracker-detail-progress-container-{{ legend_name }}-{{ tracker_key }}" class="item progress-bar-tracker-state-current" style="min-width:140pt">
        {{ tracker_detail_lr_style(player_uid, legend_name, tracker_key) }}
    </div>
{% endmacro -%}

{% macro tracker_detail_lr_style(player_uid, legend_name, tracker_key) -%}
    <div id="tracker-detail-lr-style-label-{{ legend_name }}-{{ tracker_key }}" style="display:inline;">
        {{ label }}
    </div>
    <div id="" style="float:right;display:inline;">
        <span id="tracker-detail-lr-style-count-{{ legend_name }}-{{ tracker_key }}"></span><!--
     --><span>/</span><!--
     --><span id="tracker-detail-lr-style-total-{{ legend_name }}-{{ tracker_key }}"></span>
    </div>
    <div class="progress-container">
        <div class="progress-background"></div>
        <div class="progress-bar" id="tracker-detail-progress-bar-{{ legend_name }}-{{ tracker_key }}"></div>
    </div>

    <script>
    </script>
{% endmacro %}

{% macro progress_bar(percent) -%}
    <div class="progress-container">
        <div class="progress-background"></div>
        <div class="progress-bar" style="width:{{ percent }}%"></div>
    </div>
{% endmacro %}
{% macro left_right_style(label, count, total, highlight_max=False, show_total=True) -%}
    {% set should_highlight = False %}
    {% if highlight_max and (count == total) %}
        {%  set should_highlight=True %}
    {% endif %}
    <div style="display:inline;">
        {{ label }}
    </div>
    <div style="float:right;display:inline;{% if should_highlight %}color:darkgreen{% endif %}">
        {{ count }}{% if total and show_total %}/{{ total }}{% endif %}
    </div>
{% endmacro %}

{% macro version() %}
    <div class="version">
        {{ "Version: " | append_version_number }}
    </div>
{% endmacro %}

{% macro circle_total(tracker_key, tracker_total, tracker_subtitle, legend_name="any") %}
    <div class="item">
        <div class="circle_container">
            <div class="circle_base circle_inner"></div>
            <div class="circle_base circle_outer"></div>
            <div class="circle_base circle_text">
                <span class="circle_total_label">
                    {{ tracker_key | safe | upper}}
                </span><br />
                <span class="circle_total" id="circle-total-{{ legend_name }}-{{ tracker_key | lower}}">{{ "{:,d}".format(tracker_total) }}</span><br />
                <span class="circle_total_subtext" id="circle-total-subtext-{{ legend_name }}-{{ tracker_key | lower}}">{{ tracker_subtitle | safe }}</span>
            </div>
        </div>
    </div>
{% endmacro %}
