{% extends 'base.html' %}
{% set page_title="Friends of the Apex Legends API: Profile Page" %}
{% set player = view_controller.player %}
{% set player_uid = player.uid %}
{% set player_name = player.name %}
{% block content %}
    <div class="profile">
        <div class="profile_player_name">{{ player_name }}
        {% if player.is_online %}<span class="profile_online">online</span>{% endif %}
        </div>
        <div class="profile_selected_legend">Selected Legend: {{ player.selected_legend }}</div>
        <div class="profile_details">Profile Details</div>
        <div>Level: {{ player.level }}</div>
        <div>Platform: {{ view_controller.get_platform() }}</div>
    </div>
{% endblock %}
