{% extends 'base.html' %}
{% set refresh=False %}
{% set page_title="Friends of the Apex Legends API: Profile Page" %}
{% set player = player_data.player %}
{% set player_uid = player.global_info.uid %}
{% set player_name = player.global_info.name %}
{% set player_totals = db_helper.get_player_totals(
                      player_uid,
                      [tracker_key],
                      active_legends_only=True)  -%}
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='tracker_detail.js') }}">
    </script>
    <script>
        $(document).ready(function(){
            setDefaultValues()
            refreshTracker({{ player_uid }}, '{{ tracker_key }}')
            setInterval("refreshTracker({{ player_uid }}, '{{ tracker_key }}')", 5000)
        })
    </script>

    <div class="tracker_detail_container">
        <div class="profile_stat_circle_container">
            <div class="circle_item">
                {% set tracker_detail = player_totals[tracker_key] %}
                {{ macros.circle_total(tracker_key | upper , tracker_detail['total'], "updating...") }}
            </div>
        </div>
        <div class="tracker_detail_trackers">
            <div>
                {% for legend in tracker_detail['legends'] %}
                    {% set tracker_total = legend['total'] %}
                    {{ macros.tracker_detail_progress_container(
                        player_uid=player_uid,
                        legend_name=legend.name,
                        tracker_key=tracker_key) }}
                {% endfor %}
            </div>
            <div></div>
        </div>
    </div>
    <div id="tracker_detail_instructions">
        <div>
            CURRENT: All is good, the value should match your totals in Apex Legends
        </div>
        <div>
            <span class="progress-bar-tracker-state-old">OLD:</span> A legend's tracker exists, has been seen, but is outdated.<br />
            To Fix: Swap to that legend, add that tracker, and go back to the lobby.  Wait a few seconds and it should automatically update!
        </div>
        <div>
            <span class="progress-bar-tracker-state-missing">MISSING:</span> A legend's tracker is missing (that means that we haven't seen that tracker on that specific
            legend yet), this could be because you don't have that tracker.
        </div>
    </div>
{% endblock %}
